
@media only screen and (max-width: 670px)  {
    .footer-section{
    display: flex;
    flex-direction: column;
}
.container .card .contain {
    padding: 0;
}
.container-fluid{
    justify-content: space-between;
}
.btn{

    padding-left: 20px;
    font-size: 0.8rem;
    width: 200px;
    padding-right: 20px;
}
.container .card .contain h3{
    font-size: 1.2em;
}
.container .card .contain a {
    position: absolute;
    top: 200px;
    left: 60px;
    justify-content: center;
}
.container .card img{
    height: 150px;
    opacity: 0;
}
.container .card:hover {
height: 700px;
}
.mx-auto{
    flex-direction: column;
}
.content h2{
    margin-top: 10px;
    font-size: 4em;
    padding: 0;
    /* position: absolute;
    left: -10px; */
}
.row{
    margin-top: 50px;
    padding: 10px;
} 
.line{
    font-size: 1.1rem;
}
.nav_bg{
    flex-direction: column;
}
.img-fluid {
    height: 150px;
    width: 260px;
    margin: 10px 0; 
}
.btn{
    left: 0;
}

}